<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"type="text/css" href="{{ url_for('static' ,filename='styles/home.css') }}">
    <title>Kütüphane</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <form action="./Giris" method="post">
        <div class="container" id="top-container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <h2 id="baslik">Kütüphane-7319</h2>
                </div>
                <div class="col-6 text-center mt-4">
                    <label class="loginAlani" id="labels">Kullanıcı İd</label>
                </div>
                <div class="col-6 mt-4">
                    <input type="text" id="kullaniciadi" name="kullaniciadi" class="inputAlani" size="30" placeholder="Kullanıcı İd">
                </div>
                <div class="col-6 text-center mt-4">
                    <label class="loginAlani" id="labels">Şifre</label>
                </div>
                <div class="col-6 mt-4">
                    <input type="password" class="inputAlani" id="sifre" name="sifre" size="30" placeholder="Sifre">
                </div>
                <div class="col-12 mt-4 text-right" >
                    <input type="submit" value="Giriş" class="btn-success" id="buton"/>
                </div>
            </div>
        </div>
    </form>
    
    <form action="./Kayit" method="post">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 mt-3 text-right">
                    <input type="submit" value="Yeni Üye Kaydı" class="btn-primary" id="buton"/>
                </div>
            </div>
        </div>
    </form>
    

</body>
</html>