<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"type="text/css" href="{{ url_for('static' ,filename='styles/oduncalman.css') }}">    
    <title>Ödünç Alma Başarısız</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="container" id="general-container">
        <div class="row align-items-center mt-5">
            <div class="col-12 text-center" id="mesaj">
                <label>Kitap şu an başka bir kullanıcı tarafından ödünç alınmıştır.</label>
            </div>
            <div class="col-12 text-center mt-3">
                <form action="./Mesaj" method="post">    
                    <label id="labels">Mesajınızı buraya bırakın:</label><br>
                    <textarea id="mesaj-kutusu" name="mesaj" rows="8" cols="50"></textarea></br>
                    <input type="submit" value="Gönder" class="btn-success mt-2" id="buton">
                </form>    
            </div>
            
            <div class="col-12 text-right mt-3 mb-2">
                <a href="./returnGiris"><input type="submit" class="btn-primary" value="Yeni İşlem" id="buton"/></a>
                <a href="./"><input type="submit" class="btn-danger ml-3" value="Çıkış" id="buton"/></a>
            </div>
        </div>
    </div>
</body>
</html>