<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
    <link rel="stylesheet"type="text/css" href="{{ url_for('static' ,filename='styles/uyeislem.css') }}">
    <title>Üye İşlemleri</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="container" id="general-container">
        <div class="row align-items-center text-center">
            <div class="col-12">
                <h2 id="baslik">Kütüphane-7319</h2>
            </div>
            <div class="col-12 mt-3" id="mesaj">
                {% if mesaj %}
                <p class="mesaj">{{ mesaj | safe }}</p>
                {% endif %}
            </div>
            <div class="col-6 mt-3 text-center">                    
                <form action="./Sorgu" method="post">
                    <label id="odunc-baslik">Ödünç Alma</label></br>
                    <label class="mt-3" id="label">Kitap İsmi</label></br>
                    <input type="text"name="isim"class="inputAlani">
                    <input type="submit" class="btn-success ml-2" value="Sorgula">                
                </form> 
            </div>
            <div class="col-6 mt-3 text-center">               
                <form action="./Saat" method="post">       
                    <label id="odunc-baslik">Rezervasyon</label></br>
                    <label class="mt-3" id="label">Gelmek İstediğiniz Saat</label></br>
                    
                    <select name="saat">
                        <option value=""  >Saat      </option>
                        <option value="8" >8-10      </option>
                        <option value="10">10-12     </option>
                        <option value="12">12-14     </option>
                        <option value="14">14-16     </option>
                        <option value="16">16-18     </option>
                        <option value="18">18-20     </option>
                      </select>
                    <input type="submit" class="btn-success ml-2" value="Sec">                    
                </form>
            </div>
            <div class="col-12 mt-3 text-center">
                <label id="odunc-baslik">Yorum</label></br>
                <a href="./Yorum"><input type="submit" class="btn-success ml-3" value="Yorum" id="buton"/></a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-right" id="mesaj">
                {% if ileti %}
                <p class="ileti">{{ ileti | safe }}</p>
                {% endif %}
            </div>
            <div class="col-12 text-right">
                <a href="./"><input type="submit" class="btn-danger ml-3" value="Çıkış" id="buton"/></a>
            </div>
        </div>
    </div>
</body>
</html>