#buton{
    font-size: 17px;
}
#general-container{
    background-image: url("https://wallpaperaccess.com/full/2862101.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 12rem;
    align-items: center;
    border: 5px double white;
}
body{
    background-color: black;
}
#text{
    color: white;
}